{% load static %}
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <h3>Connect With Me</h3>
        <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=100053363839449" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/shailendrapal0730/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/shailendra-pal-623054316/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.github.com/shailendra-pal8090" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://x.com/Shailendra38146" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="mt-3">© 2025 Shailendra Pal. All Rights Reserved.</p>
    </div>
</div>
<p class="mt-3 text-light">Email:  shailendrapal0730@gmail.com</p>
</div>

</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>