{% extends 'base.html'%}

{% block content %}
    
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="profile-section">
                <div class="profile-text">
                    <h1 class="name">Shailendra Pal</h1>
                    <h2 class="title">I am Intern Web Developer at Vshine Technologies Private Limted.</h2>
                    <p class="description">
                        Passionate web developer with a strong foundation in <b> Full Stack Web Development </b>technologies. 
                        Currently enhancing my skills through hands-on experience at Vshine Technologies. 
                        Dedicated to creating responsive, user-friendly websites with clean code and 
                        modern design principles.
                    </p>
                    <a href="#" class="btn btn-primary btn-lg">Learn more</a>

                </div>
                <div class="profile-image">
                    <img src="/static/img/my pic2 .jpg.png" alt="Developer Image" width="300" height="300" class="img-fluid rounded-circle">
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
   